<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS Application</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>

    <!-- Load các tệp JavaScript -->
    <script src="app.js"></script>
    <script src="routes.js"></script>
    <script src="services/authService.js"></script>
    <script src="controllers/loginController.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/dashboardController.js"></script>
  </head>
  <body>
    <nav class="navbar" ng-if="isAuthenticated()">
      <div class="container">
        <a href="#!/" class="logo"
          ><img
            src="https://api.eranin.com/Files/ed2da895-417a-4b19-95b4-2ed8b79892e6/Webconfig/logo-logo 3.png"
            alt=""
        /></a>
        <ul>
          <li ng-if="isAdmin()"><a href="#!/dashboard">Dashboard</a></li>
          <li ng-if="!isAdmin()"><a href="#!/">Home</a></li>
          <li><a href="" ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div ng-view></div>
  </body>
</html>
